*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    position: relative;
    width: 100%;
    height: 300vh;
    /* background: #eff4fd; */
    background-image: url('./images/bb.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
     text-decoration: none;
     color: #000;
     color: white;
     font-weight: bold; 
}
nav ul li a:hover{
    color:yellow;
}
.detel{
    margin-left: 8%;
    margin-top: 13%;
}
.detel h1{
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
}
.detel p{
    color: #555;
    line-height: 22px;
    color: white;
}
.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0px;
    border-radius: 5px;
}
 
.Skills{ 
    display: grid;
    color: white;
    grid-template-columns: repeat(2,1fr);
    position: relative;
    top: 10%;
    justify-content: space-between;
}
.contact{
    display: grid;
    color: white;
    grid-template-columns: repeat(2,1fr);
    position: relative;
    top: 20%;
    justify-content: space-between;
}
.form {
    position:relative;
    height:600px;
    width: 100%;
    /* top: 20%; */
}
.image{
     height: 20px; 
     width: 20px;
}
.d{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 30%;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input submit{
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

input submit :hover {
    background-color: #555;
}


.card {
    max-width: 300px;
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h2 {
    color: #333;
}

.card p {
    color: #666;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
    top: 10%;
}
html{
    cursor:auto;
}