body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite; /* Use the 'spin' animation for rotation */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
