*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: gray;
    border-radius: 30px;
    position: absolute;
    background-size: contain;
    z-index: 1;
    width: 100%;
    top:0px;
}

.navbar li{
    float: left;
    list-style: none;
    margin: 13px 20px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}
.main img{
    height: auto;
    width: 100%;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.heading{
    position: absolute;
    top: 20%;
    /* bottom: 50%; */
    left: 40%;
}
.heading h1,p{
    font-family: 'Caveat', cursive;
    font-family: 'Domine', serif;
    font-family: 'Londrina Outline', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size:40v;
}
.main video{
    /* height: auto; */
    width: 100%;
}
.main{
    position: relative;   
   height: auto;
    width: 100%;
}
 hr{
    border: 2px dashed black;
 }
 .body{
    background-image: url('./images/o.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .lol{
    background-image: url('./images/op.jpeg');
    display: grid;
    grid-template-columns:  repeat(2,1fr);
    line-height: 30px;
    color: white;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
  