*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main video{
   
    width: 100%;
    background-size: contain;
   background-repeat: no-repeat;


    
}
.main{
   
    background-position: center;
   width: 100%;
   height: 100%;
   border: 1px solid black;
    
}
.heading{
    position: absolute;
    top: 30vh;
    
    left: 10%;
}
.heading h1,p{
    font-family: 'Caveat', cursive;
    font-family: 'Domine', serif;
    font-family: 'Londrina Outline', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size:40v;
}
.navbar{
    background-color: gray;
    border-radius: 30px;
    position: absolute;
    background-size: contain;
    z-index: 1;
    width: 100%;
    top:0px;
}

.navbar li{
    float: left;
    list-style: none;
    margin: 13px 20px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}
.about{
    /* position: relative;
    top: 50vh; */
    border: 1px solid black;
    width: 100%;
    height: 30vh;
    
}